<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<style>
body {font-family: Helvetica, Arial, sans-serif}
table.info {border: thin solid darkblue;}
td {margin-right: 2em; vertical-align: top}
td.caseNumber {width: 15em}
td.title {width: 30em}
td.status {width: 10em}
td.leadInventor {width: 10em}
td.date {width: 10em}
td.patentApplicationType {width: 10em}
td.patentSerialNumber {width: 10em}
td.amount {width: 10em; text-align: right}
td.project {width: 10em}
td.companyName {width: 20em}
td.contactName {width: 20em}
</style>
</head>
<body>
TCO Helper added your email as a remark %(attachmentMessage)s to the following link%(pluralEnding)s.<br>
<br>
%(summaries)s
<br>
%(documents)s
<br>
<br>
<hr>
<pre>
%(originalEmail)s
</pre>
</body>
</html>
